<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.min.js"></script>
    <script src="./lib/vue.min.js"></script>
    <script src="./vue_poker.js"></script>
    <title>ひとりポーカー</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app-porker" v-cloak>
    <button class="btn btn-info m-1" v-on:click="sort">手札の並び替え</button>
    <div>
        <div v-for="(hand, index) in hands" style="float: left; padding: 10px">
            <input type="checkbox" id="hand" v-model="checkedValues"
                :value="index" :id="'hand'+index">
            <label style="width: 120px; height: 200px; background-color: lemonchiffon; border-radius: 7px"
                :style="{ border: checkedValues.includes(index)?
                '2px solid blue' : '2px solid gray' }" :for="'hand' + index" >
                {{ stringHand(hand) }}
            </label>
        </div>
    </div>
    
    <div style="clear: both;">
        <hr>
        <button class="btn btn-primary m-1" @click="trade">選択した手札を交換</button>
        <button class="btn btn-secondary m-1" v-on:click="checkall">全てを選択（トグル）</button>
        <hr>
        <p> 評価: {{ evaluationHands(hands) }}</p>
        <p> 手番の回数: {{ changeCount }}</p>
        <p> 山札の枚数: {{ deck.length }} / 52</p>
        <hr>
        <button class="btn btn-warning m-1" @click="cheetChange">チート</button>
        <div class=" m-5" v-if="cheet">
            <button class="btn btn-warning m-1" @click="tradeRandom">デッキのランダムな位置から選択した手札を交換</button>
            <button class="btn btn-warning m-1" @click="remake">選択した手札をランダムに作り直す</button>
            <button class="btn btn-warning m-1" @click="shuffle">山札をシャッフルする</button>
            <hr>
            <button class="btn btn-danger m-1" v-on:click="straight">ランダムなストレート</button>
            <button class="btn btn-danger m-1" v-on:click="flash">ランダムなフラッシュ</button>
            <button class="btn btn-danger m-1" v-on:click="sflash">ランダムなストレートフラッシュ</button>
            <button class="btn btn-danger m-1" v-on:click="rsflash">ランダムなロイヤルストレートフラッシュ</button>
            <hr>
            <p> 山札（上から）:<br> {{ showDeck() }} </p>
        </div>
    </div>
</div>
</body>
</html>